body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f7f7f7;
    color: #333;
    overflow-x: hidden;
}

/* background graphic  ----------------------------------------------*/

.graphic {
    width: 100%;
}

.text-in-graphic {
    font-size: 56px;
    position: absolute;
    width: 750px;
    top: 35%;
    left: 50%;
    text-align: center;
    z-index: 100;
    display: block;
}

#highlighted-text {
    padding: 5px;
    font-size: 70px;
    color: rgb(41, 235, 211);
    margin: 10px;
}

/* navigation  ----------------------------------------------------------- */

.menu-container {
    display: grid;
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: 300px 1fr 350px;
    height: 150px;
    align-items: end;
}

#title-header {
    font-family: "Titillium Web", sans-serif;
    font-size: 68px;
    letter-spacing: 5px;
    margin-bottom: -2px;
    margin-left: 20px;
    font-weight: lighter;
}

/* font-family: 'Exo 2', sans-serif;
font-family: 'Titillium Web', sans-serif; */

ul {
    list-style-type: none;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.product-header {
    margin-left: 80px;
}

.menu-list a:hover {
    border-bottom: 2px solid black;
}

.register:hover {
    border-bottom: 2px solid black;
}
.menu-item {
    display: inline-block;
    padding: 20px;
}

.menu-icon {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.material-icons.md-36 {
    font-size: 36px;
}

.shopping-cart:hover {
    color: rgb(41, 235, 211);
}

/* product list component ----------------------------------------------*/
.product-list-container {
    display: grid;
    margin: 120px;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    padding: 10px;
}

.product-list-container h3 {
    font-weight: lighter;
    font-size: 26px;
    text-align: center;
}

#product-image-list {
    width: 400px;
}

/* single product page component ----------------------------------------------  */

.single-prod-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
    margin-right: 200px;
    padding: 100px;
}

@media screen and (max-width: 950px) {
    .single-prod-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.single-prod-image {
    width: 600px;
    justify-self: start;
}
.single-prod-name {
    font-size: 42px;
}
.single-prod-description {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 40px;
}
.price {
    font-size: 45px;
}

.add-to-cart {
    margin-left: 60px;
    font-size: 23px;
    padding: 11px;
    border: 1px solid transparent;
}

button:hover {
    color: rgb(41, 235, 211);
}

#qty {
    font-size: 26px;
    margin-left: 55px;
    padding: 15px;
}

#qty-input {
    font-size: 23px;
    width: 50px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    opacity: 3;
    height: 3em;
}

/* shopping cart -------------------------------------------*/

/* main container */
.renderer-container-shopping-cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 100px;
}

/* items container */
.shopping-cart-container {
    display: grid;
    margin-left: 100px;
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

.shopping-cart-item-container {
    display: grid;
    margin: 20px;
    background-color: #fff;
    grid-template-columns: 190px 300px 120px 80px 210px;
    align-items: center;
}

.shopping-cart-image {
    width: 150px;
}

#name-cart-single {
    font-size: 24px;
}

#single-cart-price {
    font-size: 22px;
}

#single-cart-qty {
    font-size: 22px;
}

.shopping-cart-button-remove {
    font-size: 22px;
    width: 150px;
    margin-left: 20px;
    border: 2px solid #f7f7f7;
    padding: 10px;
}

/* total container */
.header-title-shopping-cart {
    font-size: 32px;
    padding: 20px;
}

#sub-total {
    display: grid;
}

.total-shopping-cart {
    background-color: #fff;
    display: grid;
    margin-left: 180px;
    width: 350px;
}

.buy-now-button {
    font-size: 23px;
    padding: 18px;
    margin: 50px;
    border: 2px solid #f7f7f7;
    justify-self: start;
}

.middle-text-payment {
    font-size: 20px;
}

.total {
    border-top: 1px solid #f7f7f7;
    padding: 10px;
}

.payment-h3 {
    font-size: 28px;
}

/* coming soon  */
.coming-soon-container {
    display: grid;
    justify-self: center;
    margin-top: 250px;
}
.coming-soon {
    font-size: 100px;
    justify-self: center;
}
