body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f7f7f7;
    color: #333;
    overflow-x: hidden;
}

/* background ----------------------------------------------*/

.background {
    width: 100%;
}

/* navigation  ----------------------------------------------------------- */

.menu-container {
    display: grid;
    margin-left: 40px;
    margin-right: 40px;
    grid-template-columns: 300px 1fr 350px;
    height: 150px;
    align-items: end;
}

#title-header {
    font-family: "Titillium Web", sans-serif;
    font-size: 68px;
    letter-spacing: 5px;
    margin-bottom: -2px;
    margin-left: 20px;
    font-weight: lighter;
}

/* font-family: 'Exo 2', sans-serif;
font-family: 'Titillium Web', sans-serif; */

ul {
    list-style-type: none;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.menu-list a:hover {
    border-bottom: 2px solid black;
}

.register:hover {
    border-bottom: 2px solid black;
}
.menu-item {
    display: inline-block;
    padding: 20px;
}

.menu-icon {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
}
.material-icons.md-36 {
    font-size: 36px;
}

.shopping-cart:hover {
    color: rgb(41, 235, 211);
}

/* product list component ----------------------------------------------*/
.product-list-container {
    display: grid;
    margin: 120px;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    padding: 10px;
}

.product-list-container h3 {
    font-weight: lighter;
    font-size: 26px;
    text-align: center;
}

#product-image-list {
    width: 400px;
}

/* single product page component ----------------------------------------------  */

.single-prod-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 200px;
    margin-right: 200px;
    padding: 100px;
}

@media screen and (max-width: 950px) {
    .single-prod-container {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 20px;
        margin-right: 20px;
    }
}

.single-prod-image {
    width: 600px;
    justify-self: start;
}
.single-prod-name {
    font-size: 42px;
}
.single-prod-description {
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 40px;
}
.price {
    font-size: 38px;
}

.add-to-cart {
    margin-left: 60px;
    font-size: 23px;

    padding: 11px;
    border: 1px solid transparent;
}

.add-to-cart:hover {
    color: rgb(41, 235, 211);
}

/* shopping cart -------------------------------------------*/

/* main container */
.renderer-container-shopping-cart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-top: 100px;
}

/* items container */
.shopping-cart-container {
    display: grid;
    margin-left: 60px;
    grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
}

.shopping-cart-item-container {
    display: grid;
    margin: 10px;
    background-color: #fff;

    grid-template-columns: 170px 300px 100px 50px 150px;
    align-items: center;
}

.shopping-cart-image {
    width: 150px;
}

.shopping-cart-quantity {
    text-align: center;
}

.shopping-cart-button-remove {
    margin-left: 25px;
    margin-right: 25px;
}

/* total container */
.header-title-shopping-cart {
    font-size: 32px;
    padding: 20px;
}

.total-shopping-cart {
    background-color: #fff;
    display: grid;
    justify-self: center;
}
